@import url('https://fonts.googleapis.com/css2?family=Rubik:600&display=swap');
.button {
  font-family: "Rubik", Arial, sans-serif;
  border: none;
  background: linear-gradient(100deg,#ffdb70 35%,#3653a7 100%);
  color: #232b44;
  font-size: 1.14rem;
  font-weight: bold;
  padding: 1em 2.8em;
  border-radius: 1.5em;
  box-shadow: 0 3px 21px #232b4477,0 2px 8px #ffe066bb;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  outline: none; min-width:110px;
  transition: box-shadow .2s,transform .08s;
}
.button:hover, .button:focus-visible {
  box-shadow: 0 9px 42px #ffe066bb,0 3px 15px #324366cc;
  color: #ca8a04;
}
.button:active { transform: scale(0.98) rotate(-1.5deg);}
.button > div > div > div { pointer-events:none; }
