@import url('https://fonts.googleapis.com/css2?family=Rubik:700&display=swap');
.button {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.18rem;
  border-radius: 1rem;
  outline: 2px solid transparent;
  outline-offset: 6px;
  color: #fafaf9;
  background: linear-gradient(120deg,#facc15 0 50%,#292524 100%);
  border: none;
  padding: .7em 2em;
  transition: 0.16s;
}
.button:active, .button:focus-visible {
  outline-color: #facc15;
  outline-style: dashed;
}
.button::before {
  content: "";
  z-index: 0; position: absolute; height: 200%;
  max-height: 100px; aspect-ratio: 1; margin: auto;
  background: white;
  border-radius: inherit;
  opacity: 0.15;
  filter: blur(7px);
  left:35%; right:35%; top:35%; bottom:35%;
  pointer-events: none;
}
.button:hover::before { opacity: 1; }
/* Add more uiverse variants as desired */
