[build]
  command = "npm install && npm run inject-env"
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Replace ENV placeholders in HTML
[[plugins]]
  package = "@netlify/plugin-functions-install-core"
